.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.marco_galeria{
    width: 60%;
    height: 60vh;
    position: relative;
    border-radius: 10px;
    /* background-color: green; */
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
}#container_imagen{
    position: absolute;
    width: 100%;
    height: 90%;
    /* background-color: red; */
}#container_imagen img{
   width: 100%;
   height: 100%;
   z-index: 2;
   border-radius: 10px;
  
}#container_titulo{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: black;
    text-align: center;
    color: white;
    box-sizing:border-box;
}
